body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

h1{
    font-size: 32px;
    color: #011627;
    font-weight: bold;
    text-align: center;
}

h2{
    color: #011627;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

hr{
    width: 30%;
    border: solid 0.5px #011627;
}

a{
    text-decoration: none;
}


/* NAV */

.nav{
    min-height: 5vh;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav ul{
    display: flex;
    justify-content: space-around;
    width: 30%;

}

.nav ul li{
    font-weight: 300;
    display: inline-block;
    margin-right: 10px;
    

}

.burger{
    display: none;
}

@media screen and (max-width: 550px){
    body{
        overflow-x: hidden;
    }

     nav {
         max-height: 5vh;
         z-index: 2;
         background-color: white;
         
         
     }   
    .nav-links{
        position: absolute;
        right: 0px;
        height: 70vh;
        top: 5vh;
        background-color: #011627;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 22px;
        transform: translateY(-150%);
        transition: transform 0.6s ease-in;
        z-index: 1;


    }

   

    .burger{
        display: block;
        cursor: pointer;
    }

    
}

.nav-active{
        transform: translateX(0%);
    }


/* section header */

.container{
    
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    margin-top: 100px;
}

.columna{
   display: block;
   margin: 0px;
   /* align-items: baseline; */
}
  
.bruce img{
    max-width: 430px;
    
}

.container div h1{
    color: #011627;
    font-size: 62px;
    font-weight: 900;
    line-height: 95%;
    text-align: left;
    
}

.container div h1 span{
    padding-top: 0px;
    padding-bottom: 0px;
    /* background-color: #011627; */
    color: #7AE7C7;
    font-family: 'lato', sans-serif;
}

.slogan{
    margin-bottom: 0px;
}

@media (max-width:850px){
    
    .container{
        margin-bottom: 50px;
    }


    .bruce img{
        max-width: 300px;
        margin:0px;
    }
}

@media (max-width:450px){
    .bruce{
        display:none;
    }
    .container-banner img {
        display: block;
        max-width: none;
    
    }
}
/* banner maneki */


.container-banner{
    min-width: 100%;
    overflow:hidden;
    margin: 0px auto;
    padding: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    

}
.container-banner img {
    display: block;
    max-width: none;
     
}



/* SSERVICIOS
 */
.serv{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 100px;
}

.serv h1{
    text-align: center;
}

.p-serv{
    padding: 10px;
    margin: auto;
    width: 60%;
    text-align: center;
}



/* Planes */

.planes{
    padding: 50px;
    /* width: 90%; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.planes div{
    /* background-color: red; */
    width: 23%;
    /* margin: 8px; */
    border: solid 0.5px gray;
    border-radius: 30px;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    margin: 0 auto;
}

.planes div h1 {
    color: #011627;
    font-size: 32px;
    margin-top: 0px;
}

.planes div p{
    font-weight: 300;
    font-size: 14px;
}

.planes div a{
    font-weight: 700;
    text-decoration: none;
    color: #011627;
    background-color: #7AE7C7;
    padding: 10px 30px 10px 30px;
    border-radius: 55px;
}

.planes div a:hover{
    color: #7AE7C7;
    background-color: #011627;
}




@media (max-width: 900px){
    .planes div{
        width: 45%;
        margin-bottom: 25px;
    }
}

@media (max-width: 500px){
    .planes div{
        width: 85%;

    }
}



/* Nosotros */

.nosotros{
    background-color: #F5E663;
    padding: 30px 0 30px 0px;
    /* background-color:#7AE7C7; */
    background-image: url(../IMG/waves.svg);
    /* opacity: 30%; */

}

.nosotros div div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.nosotros  div p span{
    line-height: 140%;
}



/* contacto */



.contacto{
    padding: 30px 0px 30px 0px;
    background-color: #7AE7C7;
    margin: 0px;
}

.medios{
    /* margin: 20px; */
    padding: 50px;
    display: flex;
    justify-content: space-around;
    
}

.medios h1 {
    font-size: 24px;
}

.redes a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width:500px){

    .medios{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .redes {
        margin-bottom: 40px;
        width: 90%;
    }
}


footer{
    background-color: #011627;
    margin: 0px;
    padding: 30px 0px 20px 0px;
}

footer h1{
    color: #F5E663;
    font-size: 24px;
    letter-spacing: 2px;
}

footer h1 span{
    color: #7AE7C7;
}

@media (max-width: 450px){
    footer h1 {
        font-size: 18px;
    }
}